
.col{
    width: calc(3 * 100% / 12 - 20px);
    padding: 10px;
}

.info{
    display: block;
    height: 432px;
    width: 342px;
}

.hover{
    display: none;
}

.col:hover .info{
    display: none;
}

.col:hover .hover{
    display: block;
}

.d-inline{
    display: inline-block;
}

.flag{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.star_yellow{
    color: goldenrod;
}